{% extends 'base2.html' %}

{% block style %}
<style>
.file-drop-area {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 500px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    transition: 0.2s
}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(0, 181, 204, 1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase
}

.file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0
}


</style>
{% endblock %}
{% block main_container %}
  
    <!--main content start-->
          <div class="row ">
              <div class="col-sm-1"></div>
              <div class="col-sm-9" style="text-align:center">
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Create Item from a folder of item number
                        </button>
                      </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"  >
                      <div class="card-body" >
<!--                        <div style="width: 50%">-->

<!--                          <form method="post" class="form"  enctype="multipart/form-data">{% csrf_token %}-->
<!--                              <label class="form-label">Choose Images Matching with number sku</label>-->
<!--                              <input type="file" class="form-control" name="image" multiple="multiple"/><br>-->
<!--                              <input type="submit" class="btn btn-success" value="submit">-->
<!--                          </form>-->
<!--                          <br>-->
<!--                        </div>-->
                        <form method="post" class="form"  enctype="multipart/form-data">{% csrf_token %}
                            <div class="container d-flex justify-content-center mt-100">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Choose Images Matching with number sku</h4>
                                        <div class="file-drop-area">
                                            <span class="choose-file-button">Choose files</span>
                                            <span class="file-message">or drag and drop files here</span>
                                            <input class="file-input" name="image" type="file" multiple><br><br>
                                            <span class="file-message">Maximum upload files is 50 MB</span>
                                        </div>
                                        <br><br>
                                        <div>
                                            <button type="submit" class="btn btn-success">
                                                <i class="icofont icofont-pencil-alt-5"></i>Create Wordpress Items
                                            </button>
                                            <a type="button" href="."  class="btn btn-danger">
                                                <i class="ti-close"></i>Cancel
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

    <!--main content end-->

{% endblock %}
{% block script %}
    <script>
        $(document).on('change', '.file-input', function() {


var filesCount = $(this)[0].files.length;

var textbox = $(this).prev();

if (filesCount === 1) {
var fileName = $(this).val().split('\\').pop();
textbox.text(fileName);
} else {
textbox.text(filesCount + ' files selected');
}
});
    </script>
{% endblock %}
