{% extends 'base2.html' %}
{% load static %}
  
{% block main_container %}
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <!-- <h3 class="page-header"><i class="fa fa-table"></i> Table</h3> -->
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="/">Home</a></li>
              <li><i class="fa fa-table"></i><a href="{% url 'wp-product' %}">WP Product</a></li>
              <li><i class="fa fa-th-list"></i>Edit Product</li>
            </ol>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-2">
            <!-- <a class="btn btn-primary" href="#" title=""><span class="fa fa-plus"></span> New Request</a> -->
          </div>
          <div class="col-md-4"></div>

          <div class="col-md-3">
              <!-- /btn-group -->
          </div>
           <div class="col-md-2">
            <a href="?sku={{ sku }}"></a>
            <div class="form-group">

            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <input class="form-control" type="number" name="" placeholder="Page no" style="width: 100%">
            </div>
          </div>
        </div>
        <br>
        {% for item in wpitem %}

        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="panel-title ">Products from Woocommerce API</h3>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                      <div class="row">
                        
                         <div class="col-md-8"></div>
                         <div class="col-md-1">
                            <a class="btn btn-success" href="#" title=""><span class="fa fa-check"></span> Update</a>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-1">
                            <a class="btn btn-danger" href="{% url 'detail-wp-item' %}?sku={{item.sku}}" title=""><span class="fa fa-times"></span> Cancel</a>
                          </div>
                      </div>
                      <!-- <form action="" method="GET"> 
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                              <input type="text" name="sku" class="form-control" placeholder="Search" id="txtSearch"/>
                              <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                  <span class="fa fa-search"></span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form> -->
                    </div>
                   
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="row">
                      <img src="{{item.images.0.src}}" width="300" height="300">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-4"><p>SKU : </p></div>
                      <div class="col-md-8"><p>{{item.sku}}</p></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-4"><p>Name : </p></div>
                      <div class="col-md-8">
                        <input type="text" class="form-control" name="name" value="{{item.name}}" autofocus>
                        <!-- <p>{{item.name}}</p> -->
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-4"><p>Description : </p></div>
                      <div class="col-md-8">
                        <textarea class="form-control" name="description">
                          {% autoescape off %}{{item.description}}{% endautoescape %}
                        </textarea>

                        <!-- <p>{% autoescape off %}{{item.description}}{% endautoescape %}</p> -->
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-4"><p>USD Price : </p></div>
                      <div class="col-md-8">

                        <!-- <p>{{item.regular_price}}</p> -->
                        <input type="number" class="form-control" name="name" value="{{item.regular_price}}" autofocus>

                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-4"><p>Quantity : </p></div>
                      <div class="col-md-8">

                        <!-- <p>{{item.stock_quantity}}</p> -->
                        <input type="number" class="form-control" name="name" value="{{item.stock_quantity}}" autofocus>

                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-4"><p>Category  : </p></div>
                      <div class="col-md-8">

                        <!-- <p>{{item.categories.0.name}}</p> -->
                        <input type="text" class="form-control" name="name" value="{{item.categories.0.name}}" autofocus>

                      </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-info" name="" value="Fill with Nav Info">
                    {% endfor %}
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </section>
    <!--main content end-->

{% endblock %}
