{% extends 'base.html' %}
{% load static %}

  
{% block main_container %}
  
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Table</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-table"></i>Table</li>
              <li><i class="fa fa-th-list"></i>Basic Table</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-2">
            
          </div>
          <div class="col-sm-3 col-md-2">
            <div class="form-group">
              <select class="selectpicker form-control">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Products from Nav API
              </header>

              <table class="table table-striped table-advance table-hover">
                <tbody>
                  <tr>
                    <th><i class="icon_profile"></i> ITEM NO</th>
                    <th><i class="icon_calendar"></i> NAME</th>
                    <th><i class="icon_mail_alt"></i> DESCRIPTION</th>
                    <th><i class="icon_pin_alt"></i> SALES PRICE</th>
                    <th><i class="icon_mobile"></i> CATEGORY</th>
                    <th><i class="icon_cogs"></i> INVENTORY</th>
                    <th><i class="icon_cogs"></i> ATTRIBUTES</th>
                    <th><i class="icon_cogs"></i> ATTR. VALUES</th>
                    <th><i class="icon_cogs"></i> Option</th>
                  </tr>
                  {% for item in nav_item %}
                  <tr>
                    <td>{{ item.No }}</td>
                    <td>{{ item.Description }}</td>
                    <td>{{ item.Description }}</td>
                    {%  if item.SalesPrice|length > 0 %}
                      <td>{{ item.SalesPrice.Item_Prices_NF.0.UnitPrice2 }}</td>
                    {% else %}
                      <td>{{ item.Unit_Price }}</td>
                    {% endif %}
                    <td>{{ item.Item_Category_Code }}</td>
                    <td>{{ item.Inventory }}</td>
                    {%  if item.AttributeValues.Attribute_Values|length > 0 %}
                        <td>
                        {% for i in item.AttributeValues.Attribute_Values %}
                          {{ i.Attribute_Code}} <br>
                        {% endfor %}
                      </td>

                    {% else %}
                      <td>NO ATTRIBUTE</td>
                    {% endif %}

                    {%  if item.AttributeValues.Attribute_Values|length > 0 %}
                        <td>
                        {% for i in item.AttributeValues.Attribute_Values %}
                          {{ i.Attribute_Value}} <br>
                        {% endfor %}
                      </td>

                    {% else %}
                      <td>NO ATTRIBUTE VALUES</td>
                    {% endif %}
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if mhitem.has_other_pages %}
                <ul class="pagination">
                  {% if mhitem.has_previous %}
                    <li><a href="?page={{ mhitem.previous_page_number }}">&laquo;</a></li>

                  {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                  {% endif %}
                  
<!--                    {% if mhitem.number|add:'-4' > 1 %}
                      <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                  {% endif %} -->

                  {% for i in mhitem.paginator.page_range %}
                    {% if mhitem.number == i %}
                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if mhitem.has_next %}
                    <li><a href="?page={{ mhitem.next_page_number }}">&raquo;</a></li>
                  {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                  {% endif %}
                </ul>
              {% endif %}
            </section>
          </div>
        </div>
      </section>
    </section>
    <!--main content end-->

{% endblock %}
