{% extends 'base2.html' %}
{% load static %}
  
{% block main_container %}
  
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <!-- <h3 class="page-header"><i class="fa fa-table"></i> Table</h3> -->
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-table"></i>Table</li>
              <li><i class="fa fa-th-list"></i>Basic Table</li>
            </ol>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-2">
            <!-- <a class="btn btn-primary" href="#" title=""><span class="fa fa-plus"></span> New Request</a> -->
          </div>
          <div class="col-md-4"></div>

          <div class="col-md-3">
               <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'create-wp-item' %}" title="Bootstrap 3 themes generator"><span class="fa fa-plus"></span> Create new Item on Wordpress</a>
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="" title="Bootstrap 3 themes generator"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="" title="Bootstrap 3 themes generator">Create specific item</a></li>
                    <li class="divider"></li>
                    <li><a href="" title="Bootstrap 3 themes generator">Create Latest Item Nav</a></li>
                  </ul>
              </div>
              <!-- /btn-group -->
          </div>
           <div class="col-md-2">
            <a href="?sku={{ sku }}"></a>
            <div class="form-group">
              <form method="get">
                <select class="selectpicker form-control">
                  <option>Show 25 Products</option>
                  <option>Ketchup</option>
                  <option>50</option>
                </select>
              </form>
              
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <input class="form-control" type="number" name="" placeholder="Page no" style="width: 100%">
            </div>
          </div>
        </div>
        <br>
                 {% for item in wpitem %}
        
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="panel-title ">Products from Woocommerce API</h3>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                      <div class="row">
                        
                         <div class="col-md-9"></div>

                         <div class="col-md-1">
                            <a class="btn btn-warning" href="{% url 'edit-wp-item' %}?sku={{item.sku}}" title=""><span class="fa fa-pencil"></span> Edit</a>
                          </div>
                          <div class="col-md-1"></div>
                          <div class="col-md-1">
                            <a class="btn btn-danger" href="#" title=""><span class="fa fa-trash-o"></span> Delete</a>
                          </div>
                      </div>
                      <!-- <form action="" method="GET"> 
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                              <input type="text" name="sku" class="form-control" placeholder="Search" id="txtSearch"/>
                              <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                  <span class="fa fa-search"></span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form> -->
                    </div>
                   
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="row">
                      <img src="{{item.images.0.src}}" width="300" height="300">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-4"><p>SKU : </p></div>
                      <div class="col-md-8"><p>{{item.sku}}</p></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><p>Name : </p></div>
                      <div class="col-md-8"><p>{{item.name}}</p></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><p>Description : </p></div>
                      <div class="col-md-8"><p>{% autoescape off %}{{item.description}}{% endautoescape %}</p></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><p>USD Price : </p></div>
                      <div class="col-md-8"><p>{{item.regular_price}}</p></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><p>Quantity : </p></div>
                      <div class="col-md-8"><p>{{item.stock_quantity}}</p></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><p>Category  : </p></div>
                      <div class="col-md-8"><p>{{item.categories.0.name}}</p></div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </section>
    <!--main content end-->

{% endblock %}
