{% extends 'base2.html' %}
{% load static %}
  {% block style %}
  <style type="text/css">

.progress{
    width:100%;
    height: 40px;
    background: #eee;
    border-radius: 100px;
    box-shadow: none;
    margin-top: 40px;
    position: relative;
}
.progress .progress-title{
    width: 60%;
    height: 100%;
    background: #fff;
    border-color:#73cd21;
    border:solid;
    border-radius: 100px 0 0 100px;
    float: left;
    margin: 0;
    font-size: 15px;
    color: #05c6e3;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.progress .progress-title:after{
    content: "";
    border-left: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 10px;
    right: -10px;
    z-index: 1;
}
.progress .progress-bar{

    box-shadow: none;
    position: relative;
}
.progress .progress-value{
    height: 100%;
    border-radius: 0 100px 100px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    animation: animate-positive 2s;
}
.progress.red .progress-value{ background: #ec4251; }
.progress.green .progress-value{ background: #73cd21; }
.progress.blue .progress-value{ background: #2e9ce0; }
.progress.yellow .progress-value{ background: #eea921; }
@keyframes animate-positive{
    0%{ width: 0; }
}
@media only screen and (max-width: 480px){
    .progress .progress-title{
        font-size: 12px;
        letter-spacing: 0;
    }
}
@media (max-width: 767px) {
    .deneb_footer .widget_wrapper .widget {
        margin-bottom: 40px;
    }
}

.deneb_cta .cta_wrapper {
    padding: 20px 20px 20px;

    border-radius: 15px;
    margin-bottom: -135px;
    position: relative;
    background-image: -moz-linear-gradient(0deg, #FFF 0%, #fff 100%);
    background-image: -webkit-linear-gradient(0deg, #fff 0%, #fff 100%);
    background-image: -ms-linear-gradient(0deg, #fff 0%, #fff 100%);
    box-shadow: 2.5px 4.33px 15px 0px #71B7E6;
    z-index: 1;
}

.deneb_cta .cta_wrapper .cta_content h3 {
    color: #3F5159;
    font-weight: bold;
    font-family: "Poppins"
}
@media (max-width: 767px) {
    .deneb_cta .cta_wrapper .cta_content h3 {
        font-size: 24px;
    }
}
}
.deneb_cta .cta_wrapper .cta_content p {
    color: #fff;
    font-family: "Poppins";
}
.deneb_cta .cta_wrapper .button_box {
    float: right;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .deneb_cta .cta_wrapper .button_box {
        float: none;
        text-align: left;
        margin-top: 30px;
    }
}
@media (max-width: 767px) {
    .deneb_cta .cta_wrapper .button_box {
        float: none;
        text-align: center;
        margin-top: 30px;
    }
}
<!--.deneb_cta .cta_wrapper .button_box .deneb_btn {-->
<!--    background: #fff;-->
<!--    color: ##fff;-->
<!--}-->
.deneb_cta .cta_wrapper .button_box .deneb_btn:hover,
.deneb_cta .cta_wrapper .button_box .deneb_btn:focus {
    box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
}
.table tbody tr.highlight td {
  background-color: #ddd;
}
  </style>
{% endblock %}
{% block main_container %}
  
    <!--main content start-->
<!--    <section id="main-content">-->
<!--      <section class="wrapper">-->


<!--        <div class="row">-->

<!--            <div class="col-lg-6">-->

<!--                 <div class="deneb_cta">-->
<!--                        <div class="container">-->
<!--                            <div class="cta_wrapper">-->
<!--                                <div class="row align-items-center">-->
<!--                                    <div class="col-lg-12">-->
<!--                                        <div class="cta_content">-->
<!--                                             <div class="tab-content card-block">-->
<!--                    <div class="tab-pane active" id="home3" role="tabpanel">-->

<!--                        <div class="table-responsive">-->
<!--                            <table class="table" id="infoTable">-->
<!--                                <tr>-->
<!--                                    <th>Image</th>-->
<!--                                    <th>Sku</th>-->
<!--                                    <th>Name</th>-->
<!--                                    <th>Status</th>-->
<!--                                </tr>-->
<!--                                {% for item in wpitem %}-->
<!--                                <tr class="rowa" id="{{ item.sku }}">-->
<!--                                    <td><img src="{{ item.images.0.src }}" alt="prod img" class="img-fluid" style="  width: 50px;-->
<!--  height: 50px;"></td>-->
<!--                                    <td>{{ item.sku }}</td>-->
<!--                                    <td>{{ item.name }}</td>-->

<!--                                    <td><span class="label label-success">{{ item.status }}</span></td>-->
<!--                                </tr>-->
<!--                                {% endfor %}-->

<!--                            </table>-->
<!--                            {% if nav_item.has_other_pages %}-->
<!--                                <ul class="pagination">-->
<!--                                  {% if nav_item.has_previous %}-->
<!--                                    <li><a href="?page={{ nav_item.previous_page_number }}">&laquo;</a></li>-->

<!--                                  {% else %}-->
<!--                                    <li class="disabled"><span>&laquo;</span></li>-->
<!--                                  {% endif %}-->

<!--                &lt;!&ndash;                    {% if nav_item.number|add:'-4' > 1 %}-->
<!--                                      <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>-->
<!--                                  {% endif %} &ndash;&gt;-->

<!--                                  {% for i in nav_item.paginator.page_range %}-->
<!--                                    {% if nav_item.number == i %}-->
<!--                                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
<!--                                    {% else %}-->
<!--                                      <li><a href="?page={{ i }}">{{ i }}</a></li>-->
<!--                                    {% endif %}-->
<!--                                  {% endfor %}-->
<!--                                  {% if nav_item.has_next %}-->
<!--                                    <li><a href="?page={{ nav_item.next_page_number }}">&raquo;</a></li>-->
<!--                                  {% else %}-->
<!--                                    <li class="disabled"><span>&raquo;</span></li>-->
<!--                                  {% endif %}-->
<!--                                </ul>-->
<!--                            {% endif %}-->
<!--                        </div>-->
<!--                        <div class="text-center">-->
<!--                            <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                &lt;!&ndash; Tab panes &ndash;&gt;-->

<!--            </div>-->

<!--            </div>-->

<!--            <div class="col-lg-6">-->
<!--&lt;!&ndash;                {% for item in wpitem %}&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="row item" id="{{item.sku}}" style="visibility:hidden">&ndash;&gt;-->
<!--&lt;!&ndash;				    <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="card-header">&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="card-actions float-right">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="dropdown show">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" data-toggle="dropdown" data-display="static">&ndash;&gt;-->
<!--&lt;!&ndash;									<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<div class="dropdown-menu dropdown-menu-right">&ndash;&gt;-->
<!--&lt;!&ndash;									<a class="dropdown-item" href="#">Action</a>&ndash;&gt;-->
<!--&lt;!&ndash;									<a class="dropdown-item" href="#">Another action</a>&ndash;&gt;-->
<!--&lt;!&ndash;									<a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</div>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--&lt;!&ndash;						<h5 class="card-title mb-0">Angelica Ramos</h5>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="row g-0">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="col-sm-3 col-xl-12 col-xxl-3 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;								<img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="64" height="64" class="rounded-circle mt-2" alt="Angelica Ramos">&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="col-sm-9 col-xl-12 col-xxl-9">&ndash;&gt;-->
<!--&lt;!&ndash;								<strong>About me</strong>&ndash;&gt;-->
<!--&lt;!&ndash;								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore&ndash;&gt;-->
<!--&lt;!&ndash;									magna aliqua.</p>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						<table class="table table-sm mt-2 mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;							<tbody>&ndash;&gt;-->
<!--&lt;!&ndash;								<tr>&ndash;&gt;-->
<!--&lt;!&ndash;									<th>Name</th>&ndash;&gt;-->
<!--&lt;!&ndash;									<td>Angelica Ramos</td>&ndash;&gt;-->
<!--&lt;!&ndash;								</tr>&ndash;&gt;-->
<!--&lt;!&ndash;								<tr>&ndash;&gt;-->
<!--&lt;!&ndash;									<th>Company</th>&ndash;&gt;-->
<!--&lt;!&ndash;									<td>The Wiz</td>&ndash;&gt;-->
<!--&lt;!&ndash;								</tr>&ndash;&gt;-->
<!--&lt;!&ndash;								<tr>&ndash;&gt;-->
<!--&lt;!&ndash;									<th>Email</th>&ndash;&gt;-->
<!--&lt;!&ndash;									<td>angelica@ramos.com</td>&ndash;&gt;-->
<!--&lt;!&ndash;								</tr>&ndash;&gt;-->
<!--&lt;!&ndash;								<tr>&ndash;&gt;-->
<!--&lt;!&ndash;									<th>Phone</th>&ndash;&gt;-->
<!--&lt;!&ndash;									<td>+1234123123123</td>&ndash;&gt;-->
<!--&lt;!&ndash;								</tr>&ndash;&gt;-->
<!--&lt;!&ndash;								<tr>&ndash;&gt;-->
<!--&lt;!&ndash;									<th>Status</th>&ndash;&gt;-->
<!--&lt;!&ndash;									<td><span class="badge bg-success">Active</span></td>&ndash;&gt;-->
<!--&lt;!&ndash;								</tr>&ndash;&gt;-->
<!--&lt;!&ndash;							</tbody>&ndash;&gt;-->
<!--&lt;!&ndash;						</table>&ndash;&gt;-->

<!--&lt;!&ndash;						<strong>Activity</strong>&ndash;&gt;-->

<!--&lt;!&ndash;						<ul class="timeline mt-2 mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;							<li class="timeline-item">&ndash;&gt;-->
<!--&lt;!&ndash;								<strong>Signed out</strong>&ndash;&gt;-->
<!--&lt;!&ndash;								<span class="float-right text-muted text-sm">30m ago</span>&ndash;&gt;-->
<!--&lt;!&ndash;								<p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>&ndash;&gt;-->
<!--&lt;!&ndash;							</li>&ndash;&gt;-->
<!--&lt;!&ndash;							<li class="timeline-item">&ndash;&gt;-->
<!--&lt;!&ndash;								<strong>Created invoice #1204</strong>&ndash;&gt;-->
<!--&lt;!&ndash;								<span class="float-right text-muted text-sm">2h ago</span>&ndash;&gt;-->
<!--&lt;!&ndash;								<p>Sed aliquam ultrices mauris. Integer ante arcu...</p>&ndash;&gt;-->
<!--&lt;!&ndash;							</li>&ndash;&gt;-->
<!--&lt;!&ndash;							<li class="timeline-item">&ndash;&gt;-->
<!--&lt;!&ndash;								<strong>Discarded invoice #1147</strong>&ndash;&gt;-->
<!--&lt;!&ndash;								<span class="float-right text-muted text-sm">3h ago</span>&ndash;&gt;-->
<!--&lt;!&ndash;								<p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>&ndash;&gt;-->
<!--&lt;!&ndash;							</li>&ndash;&gt;-->
<!--&lt;!&ndash;							<li class="timeline-item">&ndash;&gt;-->
<!--&lt;!&ndash;								<strong>Signed in</strong>&ndash;&gt;-->
<!--&lt;!&ndash;								<span class="float-right text-muted text-sm">3h ago</span>&ndash;&gt;-->
<!--&lt;!&ndash;								<p>Curabitur ligula sapien, tincidunt non, euismod vitae...</p>&ndash;&gt;-->
<!--&lt;!&ndash;							</li>&ndash;&gt;-->
<!--&lt;!&ndash;							<li class="timeline-item">&ndash;&gt;-->
<!--&lt;!&ndash;								<strong>Signed up</strong>&ndash;&gt;-->
<!--&lt;!&ndash;								<span class="float-right text-muted text-sm">2d ago</span>&ndash;&gt;-->
<!--&lt;!&ndash;								<p>Sed aliquam ultrices mauris. Integer ante arcu...</p>&ndash;&gt;-->
<!--&lt;!&ndash;							</li>&ndash;&gt;-->
<!--&lt;!&ndash;						</ul>&ndash;&gt;-->

<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--&lt;!&ndash;				</div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                {% endfor %}&ndash;&gt;-->
<!--			</div>-->

<!--		</div>-->
<!--        </div>-->
<!--      </section>-->
<!--    </section>-->
<section>
    <div class="toast btn-info" id="myToast" style="position: absolute; top: 10%; right: 0;" data-delay="4000">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-grav"></i> Report of Change status</strong>
            <small>recently</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <div>Product has been published with  success You can see Product in the left section!</div>
        </div>
    </div>
</section>

</div>



    <!--main content end-->

{% endblock %}

{% block script %}
    <script>
       $('.toast').toast("show");
    </script>
    <script>
        $('#infoTable').on('click', 'tr', function(event) {
          $(this).addClass('highlight').siblings().removeClass('highlight');

          $('.item').each(function(){
          var ids = "#"+this.id;
          $(ids).css('visibility','visible');
          console.log(this.id);
          })
          	var it  = $('.item').attr('id');
          	var it_2 = $('.rowa').attr('id')
          	if (it==it_2){
          	console.log(it_2);
          	var id = "#"+it;
          	console.log(id)
          	$(id).css('visibility','visible');
          	}

        })
    </script>

{% endblock %}
