{% extends 'base2.html' %}
{% load static %}
{% block style %}
  <style type="text/css">
   #progress-bar {
      margin-top: 1em;
    }
      </style>
{% endblock %}  
{% block main_container %}
  
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Table</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-table"></i>Table</li>
              <li><i class="fa fa-th-list"></i>Basic Table</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-2">
            <!-- <a class="btn btn-primary" href="{% url 'create-item-wp' %}" title=""><span class="fa fa-refresh"></span> Update Item on Wordpress</a> -->
          </div>
          <div class="col-md-3">
               <!-- <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'create-item-wp' %}" title="Bootstrap 3 themes generator"><span class="fa fa-plus"></span> Create new Item on Wordpress</a>
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="" title="Bootstrap 3 themes generator"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="" title="Bootstrap 3 themes generator">Create specific item</a></li>

                    <li class="divider"></li>
                    <li><a href="" title="Bootstrap 3 themes generator">Create Latest Item Nav</a></li>
                   
                  </ul>
                </div> -->
              <!-- /btn-group -->
          </div>
           <div class="col-md-2">
            <div class="form-group">
              <form method="get">
                <select class="selectpicker form-control">
                  <option>Show 25 Products</option>
                  <option>Ketchup</option>
                  <option>50</option>
                </select>
              </form>
              
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <input class="form-control" type="number" name="" placeholder="Page no" style="width: 100%">
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-6">
            <section class="panel">
              <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="panel-title ">Products from Woocommerce API</h3>
                    </div>
                    <div class="col-lg-5"></div>
                    <div class="col-lg-3">
                      <form action="" method="GET"> 
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
                              <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                  <span class="fa fa-search"></span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                   
                </div>
              </div>

              <table class="table table-striped table-advance table-hover">
                <tbody>
                  <tr>
                    <th><input type="checkbox" name=""> <span> All</span></th>
                    <th><i class="icon_profile"></i> Sku</th>
                    <th><i class="icon_calendar"></i> Name</th>
                    <th><i class="icon_mail_alt"></i> Description</th>
                    <th><i class="icon_pin_alt"></i> Regular Price</th>
                    <th><i class="icon_mobile"></i> Stock Quantity</th>
                    <th><i class="icon_cogs"></i> Starting date</th>
                    <th><i class="icon_cogs"></i> Option</th>
                  </tr>
                  {% for item in wpitem %}
                  <tr>
                    <td><input type="checkbox" name=""> </td>
                    <td>{{ item.sku }}</td>
                    <td>{{ item.name }}</td>
                    <td>{% autoescape off %} {{ item.description|slice:":50" }} {% endautoescape %}</td>
                    <td>{{ item.regular_price }}</td>
                    <td>{{ item.stock_quantity }}</td>
                    <td>{{ item.url }}</td>
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-primary" href="#"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-success" href="#"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger" href="#"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if wpitem.has_other_pages %}
                <ul class="pagination">
                  {% if wpitem.has_previous %}
                    <li><a href="?page={{ wpitem.previous_page_number }}">&laquo;</a></li>

                  {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                  {% endif %}
                  {% for i in wpitem.paginator.page_range %}
                    {% if wpitem.number == i %}
                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if wpitem.has_next %}
                    <li><a href="?page={{ wpitem.next_page_number }}">&raquo;</a></li>
                  {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                  {% endif %}
                </ul>
              {% endif %}
            </section>
          </div>
          <div class="col-lg-6">
            <a class="btn btn-primary" href="{% url 'create-item-wp' %}" title=""><span class="fa fa-refresh"></span> Get item WP</a>
            <br>
            <div class='progress-wrapper'>
              <div id='progress-bar' class='progress-bar' style="background-color: #000; width: 0%;">&nbsp;</div>
            </div>
            <div id="progress-bar-message">Waiting for progress to start...</div>
            <div id="celery-result"></div>

             <h1>select your file to process it!</h1>
              <progress id="progress-bar" value="0" max="100" style="display:none; margin-bottom: 1em;"></progress>
          </div>
        </div>
      </section>
    </section>
    <!--main content end-->



{% endblock %}
    {% block custom_script %}
      <script type="text/javascript">
        
      </script>
    {% endblock %}