{% extends 'base2.html' %}
{% load static %}
{% block style %}
  <style type="text/css">
 
  </style>
{% endblock %}
{% block main_container %}
  
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Table</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-table"></i>Table</li>
              <li><i class="fa fa-th-list"></i>Basic Table</li>
            </ol>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                    <form method="post">{% csrf_token %}
                        <h2 class="mb-0">
                        <button type="submit" class="btn btn-info">
                          Create Category on Worpress
                        </button>
                      </h2>
                    </form>

                </div>

              </div>


              <!-- <div class="row">
                
                  <div class="md-form">
              <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
              <label for="date-picker-example">Try me...</label>
            </div>
               
              </div> -->
            </div>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </section>
    </section>
    <!--main content end-->

{% endblock %}
