{% extends 'base2.html' %}
{% load static %}
  
{% block main_container %}

  <div class="row">
    <!-- tabs card start -->
    <div class="col-sm-12">
        <div class="">
          <a href="{% url 'create-wp-item' %}" class="btn btn-primary"><i class="icofont icofont-pencil-alt-5"></i>Create Latest Item</a>
<!--          <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            <span class="sr-only">Toggle primary</span>-->
<!--          </button>-->
<!--          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(86px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">-->
<!--            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>-->
<!--            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>-->
<!--            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>-->
<!--          </div>-->
        </div>
        <br><br>
        <div class="card tabs-card">
            <div class="card-block p-0">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home3" role="tab"><i class="fa fa-home"></i>Maison Handal NAV Products</a>
                        <div class="slide"></div>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content card-block">
                    <div class="tab-pane active" id="home3" role="tabpanel">

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Image</th>
                                    <th>Sku</th>
                                    <th>Name</th>
                                    <th>Regular Price</th>
                                    <th>Status</th>
                                    <th>Stock Quantity</th>
                                    <th>Option</th>
                                </tr>
                                {% for item in wpitem %}
                                <tr>
                                    <td><img src="{{ item.images.0.src }}" alt="prod img" class="img-fluid" style="  width: 50px;
  height: 50px;"></td>
                                    <td>{{ item.sku }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.regular_price }}</td>
                                    <td><span class="label label-success">{{ item.status }}</span></td>
                                    <td>{{ item.stock_quantity }}</td>
                                    <td>
                                      <div class="btn-group">
                                        <a class="btn btn-primary" href="{% url 'detail-wp-item' %}?sku={{item.sku}}"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-success" href="{% url 'edit-wp-item' %}?sku={{item.sku}}"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="fa fa-trash-o"></i></a>
                                      </div>
                                    </td>
                                </tr>
                                {% endfor %}

                            </table>
                            {% if nav_item.has_other_pages %}
                                <ul class="pagination">
                                  {% if nav_item.has_previous %}
                                    <li><a href="?page={{ nav_item.previous_page_number }}">&laquo;</a></li>

                                  {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                  {% endif %}

                <!--                    {% if nav_item.number|add:'-4' > 1 %}
                                      <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                                  {% endif %} -->

                                  {% for i in nav_item.paginator.page_range %}
                                    {% if nav_item.number == i %}
                                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if nav_item.has_next %}
                                    <li><a href="?page={{ nav_item.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                  {% endif %}
                                </ul>
                              {% endif %}
                        </div>
                        <div class="text-center">
                            <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- tabs card end -->
    </div>

{% endblock %}
