{% extends 'base.html' %}
{% load static %}
  
{% block main_container %}
  
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="/">Home</a></li>
              <li><i class="fa fa-table"></i>Nav Product</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-2">
            
          </div>
          <div class="col-sm-3 col-md-2">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Products from Nav API
              </header>

              <table class="table table-striped table-advance table-hover">
                <tbody>
                  <tr>
                    <th><i class="icon_profile"></i> SKU</th>
                    <th><i class="icon_calendar"></i> Name</th>
                    <th><i class="icon_mail_alt"></i> Description</th>
                    <th><i class="icon_pin_alt"></i> Regular Price</th>
                    <th><i class="icon_mobile"></i> Ineventory</th>
                    <th><i class="icon_cogs"></i> Category Code</th>
                    <th><i class="icon_cogs"></i> Option</th>
                  </tr>
                  {% for item in nav_item %}
                  <tr>
                    <td>{{ item.No }}</td>
                    <td>{{ item.Description }}</td>
                    <td>{{ item.Description }}</td>
                    <td>{{ item.Unit_Price }}</td>
                    <td>{{ item.Inventory }}</td>
                    <td>{{ item.Item_Category_Code }}</td>
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if nav_item.has_other_pages %}
                <ul class="pagination">
                  {% if nav_item.has_previous %}
                    <li><a href="?page={{ nav_item.previous_page_number }}">&laquo;</a></li>

                  {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                  {% endif %}
                  
<!--                    {% if nav_item.number|add:'-4' > 1 %}
                      <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                  {% endif %} -->

                  {% for i in nav_item.paginator.page_range %}
                    {% if nav_item.number == i %}
                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if nav_item.has_next %}
                    <li><a href="?page={{ nav_item.next_page_number }}">&raquo;</a></li>
                  {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                  {% endif %}
                </ul>
              {% endif %}
            </section>
          </div>
        </div>
      </section>
    </section>
    <!--main content end-->

{% endblock %}
