{% extends 'base.html' %}
{% load static %}
{% block style %}
  <style type="text/css">
 
  </style>
{% endblock %}
{% block main_container %}
  
    <!--main content start-->
    <section id="main-content">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-table"></i> Table</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="fa fa-table"></i>Table</li>
                    <li><i class="fa fa-th-list"></i>Basic Table</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}


                    <div class="form-group files">
                        <label>Upload Your File </label>
                        <input type="file" name='image' class="form-control" multiple="">
                    </div>

                    <button type="submit">Upload</button>
                </form>


            </div>
            <div class="col-md-6">

            </div>
        </div>

    </section>
    <!--main content end-->

{% endblock %}
