{% extends 'base2.html' %}
{% load static %}
{% block style %}
<style>
.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin-left: 30%;
    letter-spacing: 0.2px;

    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    max-width: 80%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

<!--@media (max-width: 767px) {-->
<!--    .timeline .event:after {-->
<!--        left: -31.8px;-->
<!--    }-->
<!--}-->

<!--.rtl .timeline {-->
<!--    border-left: 0;-->
<!--    text-align: right;-->
<!--    border-bottom-right-radius: 0;-->
<!--    border-top-right-radius: 0;-->
<!--    border-bottom-left-radius: 4px;-->
<!--    border-top-left-radius: 4px;-->
<!--    border-right: 3px solid #727cf5;-->
<!--}-->

<!--.rtl .timeline .event::before {-->
<!--    left: 0;-->
<!--    right: -170px;-->
<!--}-->

<!--.rtl .timeline .event::after {-->
<!--    left: 0;-->
<!--    right: -55.8px;-->
<!--}-->
</style>
{% endblock %}
{% block main_container %}
    <div class="row">
                                                    <!-- order-card start -->
        <div class="col-md-6 col-xl-3">
                                                <div class="card bg-c-blue order-card">
                                                    <div class="card-block">
                                                        <h6 class="m-b-20">NAV Products</h6>
                                                        <h2 class="text-right"><i class="ti-package f-left"></i><span>16086</span></h2>
                                                        <p class="m-b-0">Web store items<span class="f-right">5</span></p>
                                                    </div>
                                                </div>
                                            </div>
        <div class="col-md-6 col-xl-3">
                                                <div class="card bg-c-green order-card">
                                                    <div class="card-block">
                                                        <h6 class="m-b-20">Wordpress Items</h6>
                                                        <h2 class="text-right"><i class="ti-layout-media-right-alt f-left"></i><span>1641</span></h2>
                                                        <p class="m-b-0">Out of stock this Month<span class="f-right">25</span></p>
                                                    </div>
                                                </div>
                                            </div>
        <div class="col-md-6 col-xl-3">
            <div class="card bg-c-yellow order-card">
                                                    <div class="card-block">
                                                        <h6 class="m-b-20">Order</h6>
                                                        <h2 class="text-right"><i class="ti-shopping-cart f-left"></i><span>262</span></h2>
                                                        <p class="m-b-0">This Month<span class="f-right">12</span></p>
                                                    </div>
                                                </div>
        </div>
        <div class="col-md-6 col-xl-3">
                                                <div class="card bg-c-pink order-card">
                                                    <div class="card-block">
                                                        <h6 class="m-b-20">Updated Products</h6>
                                                        <h2 class="text-right"><i class="ti-reload f-left"></i><span>9562</span></h2>
                                                        <p class="m-b-0">Local<span class="f-right">542</span></p>
                                                    </div>
                                                </div>
                                            </div>
        <!-- order-card end -->
    </div>
    <div class="row">

        <div class="col-md-6"></div>
        <div class="col-md-6">

                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title" style="text-align:center">Timeline</h6>
                                <br><br>
                                <div id="content">
                                    <ul class="timeline">
                                        <li class="event" data-date="Every 15 minutes">
                                            <h3>Update Local Database</h3>
                                            <p>Task automatic update Verification and report issues to admin  </p>
                                        </li>
                                        <li class="event" data-date="2:30 - 4:00pm">
                                            <h3>Opening Ceremony</h3>
                                            <p>Get ready for an exciting event, this will kick off in amazing fashion with MOP &amp; Busta Rhymes as an opening show.</p>
                                        </li>
                                        <li class="event" data-date="5:00 - 8:00pm">
                                            <h3>Main Event</h3>
                                            <p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>
                                        </li>
                                        <li class="event" data-date="8:30 - 9:30pm">
                                            <h3>Closing Ceremony</h3>
                                            <p>See how is the victor and who are the losers. The big stage is where the winners bask in their own glory.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>


            </div>
        </div>
    </div>

{% endblock %}
