
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mh Product Management</title>
    <!-- Bootstrap Core CSS -->

    <!-- <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet"> -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

    <!-- Custom CSS -->
    <!-- <link href="{% static 'style.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'style.css' %}" rel="stylesheet"> -->
    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery -->
   
    <!-- <script src="{% static 'jquery.js' %}"></script> -->
    <!-- Bootstrap CSS -->
    
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <!-- <link href="css/elegant-icons-style.css" rel="stylesheet" /> -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- full calendar css-->
  <!-- <link href="assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
  <link href="assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" /> -->
  <!-- easy pie chart-->
  <!-- <link href="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" /> -->
  <!-- owl carousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
  <!-- <link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet"> -->
  <!-- Custom styles -->
  <!-- <link rel="stylesheet" href="css/fullcalendar.css"> -->
  <link href="{% static 'css/widgets.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <!-- Bootstrap Core JavaScript -->
    <!-- <script src=" {% static 'bootstrap.min.js' %}"></script> -->
    <!-- Plugin JavaScript -->

    <!-- Custom Theme JavaScript -->
    {% block style %}{% endblock %}
    {% block custom_script %}{% endblock %}
    <script type="text/javascript">
    </script>
  </head>
  
  <body>
    {% if user.is_authenticated %}
    <section class="" id="container">
      <header class="header dark-bg">
        <div class="toggle-nav">
          <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="index.html" class="logo">MH Product <span class="lite">Management</span></a>
        <!--logo end-->

        <div class="nav search-row" id="top_menu">
          <!--  search form start -->
          <ul class="nav top-menu">
            <li>
              <form class="navbar-form">
                <input class="form-control" placeholder="Search" type="text">
              </form>
            </li>
          </ul>
          <!--  search form end -->
          
        </div>
        <div class="nav search-row">
            <a data-toggle="modal" data-target="#squarespaceModal" class="btn" href="#" title="" style="background: #fed189;"><span class="fa fa-plus"></span> New Request</a>
          
        </div>

        <div class="top-nav notification-row">

          <!-- notificatoin dropdown start-->
          <ul class="nav pull-right top-menu">

            <!-- task notificatoin start -->
            <li id="task_notificatoin_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                              <i class="fa fa-flag-checkered "></i>
                              <span class="badge bg-important">6</span>
                          </a>
              <ul class="dropdown-menu extended tasks-bar">
                <div class="notify-arrow notify-arrow-blue"></div>
                <li>
                  <p class="blue">You have 6 pending letter</p>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">Design PSD </div>
                      <div class="percent">90%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">90% Complete (success)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">
                        Project 1
                      </div>
                      <div class="percent">30%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                        <span class="sr-only">30% Complete (warning)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">Digital Marketing</div>
                      <div class="percent">80%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">Logo Designing</div>
                      <div class="percent">78%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                        <span class="sr-only">78% Complete (danger)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">Mobile App</div>
                      <div class="percent">50%</div>
                    </div>
                    <div class="progress progress-striped active">
                      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50% Complete</span>
                      </div>
                    </div>

                  </a>
                </li>
                <li class="external">
                  <a href="#">See All Tasks</a>
                </li>
              </ul>
            </li>

            <li id="alert_notificatoin_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                              <i class="fa fa-bell-o"></i>
                              <span class="badge bg-important">7</span>
                          </a>
              <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-blue"></div>
                <li>
                  <p class="blue">You have 4 new notifications</p>
                </li>
                <li>
                  <a href="#">
                                      <span class="label label-primary"><i class="icon_profile"></i></span>
                                      Friend Request
                                      <span class="small italic pull-right">5 mins</span>
                                  </a>
                </li>
                <li>
                  <a href="#">
                                      <span class="label label-warning"><i class="icon_pin"></i></span>
                                      John location.
                                      <span class="small italic pull-right">50 mins</span>
                                  </a>
                </li>
                <li>
                  <a href="#">
                                      <span class="label label-danger"><i class="icon_book_alt"></i></span>
                                      Project 3 Completed.
                                      <span class="small italic pull-right">1 hr</span>
                                  </a>
                </li>
                <li>
                  <a href="#">See all notifications</a>
                </li>
              </ul>
            </li>
            <!-- alert notification end-->
            <!-- user login dropdown start-->

            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                              <span class="profile-ava">
                                  <img alt="" src="{% static 'images/mhlogo.png' %}">
                              </span>
                              <span class="username">{{request.user.first_name}}</span>
                              <b class="caret"></b>
                          </a>
              <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li class="eborder-top">
                  <a href="#"><i class="icon_profile"></i> My Profile</a>
                </li>
                <li>
                  <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                </li>
                <li>
                  <a href="#"><i class="icon_clock_alt"></i> Timeline</a>
                </li>
                <li>
                  <a href="#"><i class="icon_chat_alt"></i> Chats</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}"><i class="icon_key_alt"></i> Log Out</a>
                </li>
                <li>
                  <a href="#"><i class="icon_key_alt"></i> Documentation</a>
                </li>
                <li>
                  <a href="#"><i class="icon_key_alt"></i> Documentation</a>
                </li>
              </ul>
            </li>
            <!-- user login dropdown end -->
          </ul>
          <!-- notificatoin dropdown end-->
        </div>
      </header>
      <!--header end-->

      <!--sidebar start-->
      <aside>
        <div id="sidebar" class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu">
            <li class="active">
              <a class="" href="/">
                            <i class="fa fa-laptop"></i>
                            <span>Dashboard</span>
                        </a>
            </li>
            <li class="sub-menu">
              <a href="{% url 'nav-product' %}" class="">
                            <i class="fa fa-desktop"></i>
                            <span>Products NAV</span>
                           
                        </a>
             
            </li>
            <li class="sub-menu">
              <a href="{% url 'wp-product' %}" class="">
                            <i class="fa fa-cubes"></i>
                            <span>Products WP</span>
                            
                        </a>
              
            </li>
            <li>
              <a class="" href="#">
                            <i class="fa fa-hand-o-right"></i>
                            <span>Latest Products</span>
                        </a>
            </li>
            <li>
              <a class="" href="#">
                            <i class="fa fa-tasks"></i>
                            <span>Task</span>
                        </a>
            </li>
            <li>
              <a class="" href="#">
                            <i class="fa fa-database"></i>
                            <span>Local Database</span>
                        </a>

            </li>

          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
      <!--sidebar end-->
      {% block main_container %}

      {% endblock %}
      <!-- line modal -->
      <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Make a new request</h3>
          </div>
          <div class="modal-body">
            
                  <!-- content goes here -->
            <form>
       
                  </form>

          </div>
          <div class="modal-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
              </div>
              <div class="btn-group btn-delete hidden" role="group">
                <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Delete</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button">Save</button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
    {% endif %}

    <!-- javascripts -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script> -->
    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/celery_progress.js' %}"></script>
    <!-- <script src="{% static 'js/chart.min.js' %}"></script> -->
    <!-- nice scroll -->
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
      
    {% block script %}

    <script>
     function toggle(source) {
          var checkboxes = document.querySelectorAll('input[id="checksingle"]');
          for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i] != source)
                  checkboxes[i].checked = source.checked;
          }
      }
     function toggle_status(source) {
          var checkboxes = document.querySelectorAll('input[id="status"]');
          for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i] != source)
                  checkboxes[i].checked = source.checked;
          }
      }
     $(function addBtn(){
        var div = document.getElementById("progress-bar-message");
        var text_success = document.getElementById("progress-bar-message");
        var btn = document.createElement("button");
        var divlog = document.getElementById("progress-bar");
        if(divlog.innerHTML=="Success!"){
          btn.innerHTML=divlog.innerHTML;
          div.appendChild(btn)


        }

      });

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

  </script>
  {% if task_id %}

<!-- <script type="text/javascript">
    // Progress Bar (JQuery)
    $(function () {
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
        CeleryProgressBar.initProgressBar(progressUrl, {})
    });
</script>
<script type="text/javascript">
    function processProgress(progressBarElement, progressBarMessageElement, progress) {
            progressBarElement.style.width = progress.percent + "%";
            var description = progress.description || "Starting download";
            progressBarMessageElement.innerHTML = description;
        }

    function processResult(resultElement, result) {
        if (result.includes("successful")) {
            $( resultElement ).append(
                $('<br>')
            );
            $( resultElement ).append(
                $('<p class="text-center">').text(result)
            );
        }
    }

    // Progress Bar (JQuery)
    $(function () {
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
        CeleryProgressBar.initProgressBar(progressUrl, {
            onProgress: processProgress,
            onResult: processResult,
        })
    });
</script> -->

<script type="text/javascript">
    function processProgress(progressBarElement, progressBarMessageElement, progress) {
            var x = document.getElementById("ok");
            progressBarElement.style.width = progress.percent + "%";
            progressBarElement.innerHTML = "<span style='font-size:20px;'>"+progress.percent + "%"+"</span>";
            var description = progress.description || "Start Creating Items";
            x.innerHTML = description;

            progressBarMessageElement.innerHTML = description;

            var tdbody = document.getElementById('tdbody');
            var tr = document.createElement('tr');
            var td = document.createElement('td');
            td.setAttribute('id',description);

            if(description != "Start Creating Items"){
            var id = document.getElementById(description);
            console.log(description);
            console.log(id);
              if(!id){
                var td_check = document.createElement('td');
                td_check.innerHTML = '<input type="checkbox" name="">';
                var td_status = document.createElement('td');
                td_status.innerHTML = '<p style=""> Private </p>';
                var td_option = document.createElement('td');
                td_option.innerHTML = '<button class="btn btn-success" type="submit">Publish</button>';

                td.innerHTML = description;
                tr.appendChild(td_check);
                tr.appendChild(td);
                tr.appendChild(td_status);
                tr.appendChild(td_option);
                tdbody.appendChild(tr);
              }
            }

        }

    $(function () {
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
        CeleryProgressBar.initProgressBar(progressUrl, {onProgress: processProgress,})
    });
</script>


{% endif %}



    {% endblock %}

    
  </body>
</html>